<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head", {page: "Sobre" }); %>

  <body class="container">

    <%- include("../partials/header", {page: "Sobre" }) %>

      <main>
        <div class="jumbotron">
          <h1>Sobre mim</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus magni, porro eveniet rerum hic tenetur quo
            repellat atque saepe doloribus, soluta ut architecto! Necessitatibus maiores consequuntur soluta quod,
            voluptate laboriosam!</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus magni, porro eveniet rerum hic tenetur quo
            repellat atque saepe doloribus, soluta ut architecto! Necessitatibus maiores consequuntur soluta quod,
            voluptate laboriosam!</p>
        </div>
      </main>

      <%- include("../partials/footer") %>
  </body>

</html>